body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.header {
    padding: 10px;
}

.nav_items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.nav_item {
    display: inline-block;
    margin-left: 15px;
}

.nav_link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-175%, -50%);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.red-button {
    background-color: rgb(193, 51, 51);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.red-button a {
    text-decoration: none; 
    color: white; 
}

.section-container {
    top: 100%;
    left: 25%;
    display: inline-block;
    text-align: left; /* Adjusted text-align to left */
    position: absolute;
    font-size: 20px;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusted justify-content to space-between */
    margin-top: 50px;
    padding-bottom: 100px;
}

.image_container img {
    max-width: 500px;
    margin-right: 20px;
    width: 500px;
    height: 350px;
}

.underline-Headline {
    border-bottom: 2px solid red;
    padding-bottom: 0;
}

.item-List {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-right: 50px;
    text-align: left;
}

.item-List li {
    margin-bottom: 1px;
    position: relative;
    display: flex;
    align-items: center;
}

.item-List li::before {
    content: '\2022';
    color: white;
    font-size: 1.5em;
    margin-right: 20px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.GratitudeLink {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid red;
    font-weight: bold;
}

.GratitudeLink:hover {
    color: red;
    border-bottom: 1px solid red;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusted justify-content to space-between */
    margin-top: 50px;
    padding-bottom: 100px;
}

.Photo {
    border-radius: 50%;
    max-height: 400px;
    max-width: 400px;
    height: 400px;
    width: 400px;
    margin-right: 50px;
    transform: translate(-15%);
}

.about-section p {
    max-width: 500px; /* Adjust the maximum width of the text */
}
